# SMARTCARGO-AIPA/requirements.txt
# Solución de error de build y dependencias mínimas
setuptools==69.5.1
wheel==0.43.0

# Dependencias de producción
Flask==3.0.3
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
gunicorn==22.0.0
stripe==10.0.0

# Otras herramientas necesarias
python-dotenv==1.0.1
requests==2.32.3
Pillow==10.3.0
